@import "tailwindcss";

/* Default (Light) Theme */
:root {
  --background: #eafde7;
  --foreground: #01312d;

  /* Custom Green Palette */
  --color-primary: #01312d;
  --color-secondary: #3a7717;
  --color-accent: #72bf00;
  --color-light: #bff202;
  --color-background: #eafde7;

  /* Fonts */
  --font-heading: "Cairo", sans-serif;
  --font-body: "Tajawal", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) !important;
}

/* Tailwind Theme Variables (inline mode) */
@theme inline {
  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-light: var(--color-light);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1400px;
}

button {
  cursor: pointer;
  font: inherit;
  outline: none;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.padding-y {
  padding: 4rem 0;
}
/* Global Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  height: 100%;
  width: 100%;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1.2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.parallax-img {
  will-change: transform;
}
.portfolio-card {
  transition: none !important; /* Prevent Tailwind transitions */
}
